<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Quiz</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h1>Créditos</h1>

<a href="/index">Inicio</a>
<a href="/author">Créditos</a>
<a href="/help">Ayuda</a>

<p>
    Esta práctica ha sido desarrollada por Javier Fontán
</p>

<img src="/images/IMG_7081.png" />

</body>
</html>

    Contact GitHub API Training Shop Blog About 


